<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #014f43; align-content: center" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img height="50px" width="50px" src="https://images.unsplash.com/vector-1740330559949-b49bc57a7aae">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" align="center">
      <div class="navbar-nav">
        <a routerLink="home" class="nav-link">Home</a>
        <a routerLink="oneway" class="nav-link">OneWay</a>
        <a routerLink="twoway" class="nav-link">TwoWay</a>
        <a routerLink="tdf" class="nav-link">TemplateForm</a>
      </div>
    </div>
  </div>
</nav>
